<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Group Run">
        <classes>
            <class name="com.ctflearn.web.TC001_Web_CreateNewChallenge" />
            <class name="com.ctflearn.mobile.TC001_Mobile_ViewPortfolio" />
        </classes>
    </test>
</suite>
